* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-size: 15px;
}

p {
  margin: 10px 0 10px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  color: #535353;
}

h2 {
  color: #0066ff;
  margin: 0 0 20px 0;
  padding: 0;
  font-size: 25px;
}

a {
  text-decoration: none;
}

.button-info, .button-default, .button-danger {
  padding: 10px 10px 10px 10px;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.button-info:focus, .button-default:focus, .button-danger:focus {
  outline: none;
}

.button-info {
  background: #eeeeee;
  color: #777;
}

.button-info:hover {
  background-color: #e4e4e4;
  cursor: pointer;
}

.button-default {
  background: #0066ff;
}

.button-default:hover {
  background-color: #0061f1;
  cursor: pointer;
}

.button-danger {
  background: #fd5b5b;
}

.button-danger:hover {
  background-color: #0061f1;
  cursor: pointer;
}

.input-validation-error {
  border: 2px solid red !important;
}

.field-validation-error {
  color: red;
  font-size: 13px;
}

.panel-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  max-width: 100%;
}

.app-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.app-stats p {
  font-size: 55px;
  font-weight: 900;
}

.app-stats .app-stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.panel50 {
  max-width: 50%;
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px;
  height: auto;
  background-color: #fff;
}

.panel50:first-child {
  margin-left: 0;
}

.panel50:last-child {
  margin-right: 0;
}

#loginForm a, #registerForm a {
  font-size: 12px;
}

.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form .login-title {
  font-size: 40px;
  margin-bottom: 10px;
  font-weight: 900;
}

.login-form .login-description {
  font-size: 13px;
  color: #a1a1a1;
  margin-bottom: 25px;
}

.login-form .remember-text {
  font-size: 11px;
}

.login-form .remember-me-checkbox {
  margin: 0;
  margin-right: 5px;
}

.login-wrapper {
  background: #f5f5f5;
  overflow: hidden;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
  max-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 0;
}

.login-background {
  background: url("login-background.jpg");
  background-size: 100% auto;
  width: 100%;
  min-height: 100%;
  position: absolute;
  z-index: 0;
  opacity: 0.1;
}

.login-content {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 25px 0px #e9e9e9bf;
          box-shadow: 0px 0px 25px 0px #e9e9e9bf;
  padding: 30px;
  background: #fff;
  z-index: 1;
}

.login-content h1 {
  margin-bottom: 20px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.login-content p {
  margin: 0;
}

.login-content [type=submit] {
  margin: 0;
  width: 100%;
}

.panel {
  padding: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 5px;
  height: auto;
  background-color: #fff;
}

.panel:first-child {
  margin-left: 0;
}

.panel:last-child {
  margin-right: 0;
}

.welcome-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome-message h2 {
  font-size: 60px !important;
  margin-bottom: 0;
}

.control-group {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-group-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  height: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.form-group-row label {
  color: #555;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}

select {
  padding: 7px;
  margin-right: 8px;
  margin-right: 0;
  min-width: 200px;
  background: #f5f5f5;
  border: 2px solid #f5f5f5;
  color: #777;
  border-radius: 5px;
}

select:hover {
  border: 2px solid #eee;
}

select:focus {
  outline: none;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 15px;
  height: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.form-group [type=text] {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.form-group label {
  color: #555;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 3px;
}

[type=text], [type=password], [type=date] {
  font-family: 'Open Sans';
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 7px;
  min-width: 300px;
  color: #777;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}

[type=text]:focus, [type=password]:focus, [type=date]:focus {
  border-color: #0066ff;
  outline: none;
}

::-webkit-inner-spin-button {
  display: none;
}

#map {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 500px;
  max-width: 100%;
  width: 100%;
}

.compare-map {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 400px;
  max-width: 100%;
  width: 100%;
}

#search-map {
  position: relative;
  height: 500px;
  max-width: 100%;
  width: 100%;
}

.table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 13px;
}

.table th {
  background: #0066ff;
  text-align: left;
  font-weight: 900;
  color: #fff;
}

.table th, .table td {
  padding: 10px;
  border: 1px solid #e6e6e6;
}

.wrapper {
  max-width: 100%;
  width: 100vw;
  min-height: 100vh;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.container {
  padding: 75px 10px 0 10px;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: inherit;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  min-height: 100%;
  width: auto;
  height: inherit;
  background: #ffffff;
}

.content .main {
  padding: 25px;
}

.navbar {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  border-bottom: 2px solid #f5f5f5;
}

.nav {
  padding: 0 20px 0 20px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  width: 1200px;
  height: 70px;
}

.nav .profile-picture {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: silver;
  margin-right: 10px;
}

.nav .menu {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  list-style: none;
  height: 100%;
}

.nav .menu > .menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.nav .menu > .menu-item:first-child a {
  padding-left: 0;
}

.nav .menu > .menu-item:last-child a {
  padding-right: 0;
}

.nav .menu > .menu-item > input {
  margin: 10px;
}

.nav .menu > .menu-item > a {
  padding: 0 10px 0 10px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #535353;
  -webkit-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  font-size: 13px;
}

.nav .menu > .menu-item > a:hover {
  color: #0066ff;
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 240px;
  background: #f5f5f5;
}

.menu-container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  background: #0066ff;
}

.menu-container .category {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #9e9e9e;
  font-weight: 900;
  font-size: 13px;
  background: #0f0f0f;
  padding: 20px;
  margin: 0;
}

.menu-container .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-container .menu > .menu-item {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-container .menu > .menu-item:hover {
  background-color: #252525;
}

.menu-container .menu > .menu-item:hover a {
  color: #bbb;
}

.menu-container .menu > .menu-item > a {
  width: 100%;
  font-weight: 900;
  font-size: 15px;
  color: #535353;
  display: block;
  text-decoration: none;
  padding: 15px 0px 15px 15px;
}

.search-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-panel .search-name [type=text] {
  font-size: 25px;
  padding: 10px;
}

.search-panel .search-filters {
  display: none;
}

.search-panel .search-filters-active {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.track-info {
  background: #f5f5f5;
  padding: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

.track-info .track-info-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.track-info .track-info-row:last-child p {
  margin-bottom: 0px;
}

.track-info p {
  margin: 0px 30px 5px 0px;
  font-size: 12px;
  color: #555;
}

.track-info span {
  font-weight: 900;
}

.track-card {
  background: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 15px;
}

.track-card a {
  color: #0066ff;
  font-weight: 600;
  margin-bottom: 10px;
}

.track-card a:hover {
  color: #0061f1;
}

.track-card .track-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.track-card .track-card-row:last-child p {
  margin-bottom: 0px;
}

.track-card p {
  margin: 0px 30px 5px 0px;
  font-size: 12px;
  color: #555;
}

.track-card span {
  font-weight: 900;
}

.track-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
  width: 100%;
}

.track-content a {
  font-weight: 700;
  color: #0066ff;
  margin-bottom: 5px;
  font-size: 15px;
  text-transform: uppercase;
}

.track-content a:hover {
  color: #0061f1;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #f0f0f0;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  margin: 0;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #0066ff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #0066ff;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.dropbtn {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block !important;
}

.dropdown-content {
  border-radius: 5px;
  position: absolute;
  display: none;
  min-width: 200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dropdown-content a {
  padding: 15px 20px 15px 20px;
  font-size: 12px;
  color: #535353;
}

.dropdown-content a:hover {
  color: #0066ff;
}

.dropdown:hover .dropdown-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination a {
  border-radius: 3px;
  color: #535353;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  background: #f5f5f5;
}

.pagination .active-page {
  background: #0066ff;
  color: #fff;
}

.import-card {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}

.import-card .import-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.import-card .import-name p {
  font-size: 15px;
  margin: 0;
}

.import-card .import-name [type=checkbox] {
  -ms-transform: scale(1.25);
  /* IE */
  -moz-transform: scale(1.25);
  /* FF */
  -webkit-transform: scale(1.25);
  /* Safari and Chrome */
  -o-transform: scale(1.25);
  /* Opera */
  margin: 0px 15px 0px 5px;
}

.import-card .import-distance {
  font-size: 15px;
  color: #535353;
  padding-right: 5px;
}

.no-tracks-available-info {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.no-tracks-available-info p {
  font-size: 30px;
  color: #ccc;
}

.buttons-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.buttons-row input:first-child {
  margin-right: 5px;
}
/*# sourceMappingURL=style.css.map */