@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Authorization";
}

<h2>@ViewBag.Title</h2>

<div>
    <a href="https://www.strava.com/oauth/authorize?client_id=27093&redirect_uri=http%3a%2f%2flocalhost%3a53245%2fTrack%2fAuthorization&response_type=code&approval_prompt=force">Strava</a>
</div>